[submodule "train-service-mircroservice"]
	path = train-service-mircroservice
	url = https://github.com/Sumit00s/train-service-mircroservice.git
[submodule "search-service-microservice"]
	path = search-service-microservice
	url = https://github.com/Sumit00s/search-service-microservice.git
[submodule "payment-service-microservice"]
	path = payment-service-microservice
	url = https://github.com/Sumit00s/payment-service-microservice.git
[submodule "notification-service-microservice"]
	path = notification-service-microservice
	url = https://github.com/Sumit00s/notification-service-microservice.git
[submodule "eureka-server-microservice"]
	path = eureka-server-microservice
	url = https://github.com/Sumit00s/eureka-server-microservice.git
[submodule "booking-service-microservice"]
	path = booking-service-microservice
	url = https://github.com/Sumit00s/booking-service-microservice.git
[submodule "auth-service-microservice"]
	path = auth-service-microservice
	url = https://github.com/Sumit00s/auth-service-microservice.git
